::placeholder {
    color: rgb(104, 104, 104, 0.61);
    font-size: bold;
}

input:hover {
    border: 3px solid brown;
}

input:required {
    background-color: lightyellow ;
}

input:invalid {
    border: 1px solid red;
}

input:valid {
    border: 1px solid greenyellow  ;
}

input:focus {
    outline: blue solid 3px;
}

p::first-letter {
    font-size: 2rem;
}

p:nth-child(odd) {
    background-color: ghostwhite ;
}