body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}

.container {
    background-image: url(./images/galaxy.jpg);
    background-size: cover;
    position: relative;
    min-height: 700px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}   

