html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto ;
}

.item1 {
    background-color: orange;
    grid-area: header;
}

.item2 {
    background-color: skyblue;
    grid-area: main;
}

.sidebar {
    background-color: tomato;
    grid-area: sidebar;
}

.item3 {
    background-color: springgreen;
    grid-area: footer;
}